[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=custompreview
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Krita Custom Preview
Comment=A docker for displaying a custom preview of your image.